.chat_starter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.chat_starter_content {
    padding: 50px;
    background-color: lightblue;
    border-radius: 30px;
}

.chat_starter_content h1 {
    color: gray;
}